.nav {
    grid-area: n;
    background-color: gray;
    padding: 10px;

}

.item{
    margin: 10px;
}

.item a{
    color: white;
    text-decoration: none;

}

.item a.active{
    color: mediumblue;
}